<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenrui.wukongrebate">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    //访问网络
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //缓存需用到
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //缓存需用到
    <application
        android:name=".contents.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity_"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.SettingsActivity_"/>
        <activity android:name=".activity.SignActivity_" />
        <activity android:name="com.taobao.api.AliSdkWebViewProxyActivity_" />
        <activity android:name=".activity.SearchActivity_" />
        <activity android:name=".activity.PersonalInfoActivity_"/>
    </application>

</manifest>